[Unit]
Description=Telegram Bot
After=network.target


[Service]
User=root
Group=root

WorkingDirectory=/home/tg/python-telegram-bot/
Environment="TG_CONF=production PYTHONPATH=/home/tg/python-telegram-bot/"
ExecStart=/home/tg/python-telegram-bot/.venv/bin/python /home/tg/python-telegram-bot/bot/main.py

[Install]
WantedBy=multi-user.target